{
    "coinbase": {
        "api_url": "https://api.coinbase.com",
        "api_key_file": "coinbase.key",
        "config": {
            "base_currency" : "BTC",
            "quote_currency" : "USD",
            "live" : 0,
            "websocket" : 0,
            "buymaxsize": 10,
            "buylastsellsize": 1,
            "trailingbuypcnt": 0.5,
            "dynamictsl": 1,
            "trailingstoplosstrigger": 3,
            "trailingstoploss": -1,
            "tslmultiplier": 1.5,
            "tsltriggermultiplier": 1.5,
            "tslmaxpcnt": -5,
            "trailingsellpcnt": -0.25,
            "trailingsellimmediatepcnt": -1,
            "trailingsellbailoutpcnt": -2.5,
            "sellatloss": 1,
            "selllowerpcnt": -2,
            "preventloss": 1,
            "preventlosstrigger": 1.25,
            "preventlossmargin": 0.5,
            "enable_pandas_ta": 1,
            "enable_custom_strategy": 1,
            "disablebullonly" : 1,
            "disablebuynearhigh" : 1,
            "disablebuymacd": 1,
            "disablebuyema": 1,
            "disablebuyobv": 1,
            "disablebuyelderray": 1,
            "disablefailsafefibonaccilow": 1,
            "disableprofitbankreversal": 1,
            "disabletracker" : 1,
            "autorestart" : 1,
            "enableinsufficientfundslogging": 1,
            "telegrambotcontrol" : 1
        }
    },
    "coinbasepro": {
        "api_url": "https://api.exchange.coinbase.com",
        "api_key_file": "coinbasepro.key",
        "config": {
            "base_currency" : "BTC",
            "quote_currency" : "USD",
            "live" : 0,
            "websocket" : 0,
            "buymaxsize": 10,
            "buylastsellsize": 1,
            "trailingbuypcnt": 0.5,
            "dynamictsl": 1,
            "trailingstoplosstrigger": 3,
            "trailingstoploss": -1,
            "tslmultiplier": 1.5,
            "tsltriggermultiplier": 1.5,
            "tslmaxpcnt": -5,
            "trailingsellpcnt": -0.25,
            "trailingsellimmediatepcnt": -1,
            "trailingsellbailoutpcnt": -2.5,
            "sellatloss": 1,
            "selllowerpcnt": -2,
            "preventloss": 1,
            "preventlosstrigger": 1.25,
            "preventlossmargin": 0.5,
            "enable_pandas_ta": 1,
            "enable_custom_strategy": 1,
            "disablebullonly" : 1,
            "disablebuynearhigh" : 1,
            "disablebuymacd": 1,
            "disablebuyema": 1,
            "disablebuyobv": 1,
            "disablebuyelderray": 1,
            "disablefailsafefibonaccilow": 1,
            "disableprofitbankreversal": 1,
            "disabletracker" : 1,
            "autorestart" : 1,
            "enableinsufficientfundslogging": 1,
            "telegrambotcontrol" : 1
        }
    },
    "kucoin": {
        "api_url": "https://api.kucoin.com",
        "api_key_file": "kucoin.key",
        "config" : {
            "base_currency" : "BTC",
            "quote_currency" : "USDT",
            "live" : 0,
            "websocket" : 0,
            "buymaxsize": 10,
            "buylastsellsize": 1,
            "trailingbuypcnt": 0.5,
            "dynamictsl": 1,
            "trailingstoplosstrigger": 3,
            "trailingstoploss": -1,
            "tslmultiplier": 1.5,
            "tsltriggermultiplier": 1.5,
            "tslmaxpcnt": -5,
            "trailingsellpcnt": -0.25,
            "trailingsellimmediatepcnt": -1,
            "trailingsellbailoutpcnt": -2.5,
            "sellatloss": 1,
            "selllowerpcnt": -2,
            "preventloss": 1,
            "preventlosstrigger": 1.25,
            "preventlossmargin": 0.5,
            "enable_pandas_ta": 1,
            "enable_custom_strategy": 1,
            "disablebullonly" : 1,
            "disablebuynearhigh" : 1,
            "disablebuymacd": 1,
            "disablebuyema": 1,
            "disablebuyobv": 1,
            "disablebuyelderray": 1,
            "disablefailsafefibonaccilow": 1,
            "disableprofitbankreversal": 1,
            "disabletracker" : 1,
            "autorestart" : 1,
            "enableinsufficientfundslogging": 1,
            "telegrambotcontrol" : 1
        }
    },
    "telegram": {
        "token": "",
        "user_id": "0000000000",
        "client_id": "",
        "datafolder": ""
    },
	"scanner" : {
		"atr72_pcnt" : 1.0,
		"exitaftersell" : 1,
		"enableleverage" : 0,
        "use_default_scanner" : 1,
		"maxbotcount" : 5,
        "autoscandelay" : 0,
        "enable_buy_next": 1
	}
}