{
    "{{ exchange|default('coinbasepro', true) }}": {
        {%- if exchange == 'coinbasepro' %}
        "api_url": "https://api.pro.coinbase.com",
        {%- elif exchange == 'binance' %}
        "api_url": "https://api.binance.com",
        {%- elif exchange == 'kucoin' %}
        "api_url": "https://api.kucoin.com",
        {%- endif %}
        "api_key_file": "{ exchange }}.key,
        "config": {
            "base_currency": "{{ base_currency|default('BTC', true) }}",
            "quote_currency": "{{ quote_currency|default('USD', true) }}",
            "buymaxsize": {{ buymaxsize|default(100, true) }},
            "live": {{ live|default(0, true) }},
            "stats": 0,
            "sellatloss": {{ sellatloss|default(0, true) }},
            "nosellminpcnt": {{ nsmin }},
            "nosellmaxpcnt": {{ nsmax }},
            "trailingstoplosstrigger": {{ tslt }},
            "trailingstoploss": {{ tsl }},
            "sellatresistance": {{ sellatresistance|default(0, true) }},
            "disablebullonly": {{ disablebullonly|default(1, true) }},
            "disablebuyelderray": {{ disablebuyelderray|default(1, true) }},
            "disablebuyema": {{ disablebuyema|default(1, true) }},
            "disablebuyobv": {{ disablebuyobv|default(0, true) }},
            "disablefailsafefibonacci": {{ disablefailsafefibonacci|default(0, true) }},
            "disableprofitbankreversal": {{ disableprofitbankreversal|default(0, true) }},
            "enabletelegrambotcontrol": {{ enabletelegrambotcontrol|default(0, true) }},
            "disablelog": 0,
            "logbuysellinjson": 1,
            "enableinsufficientfundslogging": 1,
            "websocket": {{ websocket|default(1, true) }},
            "autorestart": 1
        }
}