coinbase:
  api_url: https://sandbox.api.coinbase.com
  config:
    base_currency: ADA
    quote_currency: GBP
    live: 0
  api_key_file: coinbase.key
coinbasepro:
  api_url: https://public.sandbox.pro.coinbase.com
  config:
    base_currency: ADA
    quote_currency: EUR
    live: 0
  api_key_file: coinbasepro.key
binance:
  api_url: https://testnet.binance.vision
  config:
    base_currency: ADA
    quote_currency: EUR
    live: 0
  api_key_file: binance.key
