{
    "binance": {
        "api_url": "https://api.binance.com",
        "api_key_file": "binance.key",
        "config" : {
            "base_currency" : "BTC",
            "quote_currency" : "GBP",
            "live" : 0,
            "sellatloss" : 0,
            "sellatresistance" : 0,
            "trailingstoploss" : -1.5,
            "trailingstoplosstrigger" : 5,
            "nosellmaxpcnt" : 3,
            "nosellminpcnt" : -3,
            "disablebullonly" : 0,
            "disablebuynearhigh" : 1,
            "disablebuymacd" : 0,
            "disablebuyobv" : 1,
            "disablebuyelderray" : 0,
            "disablefailsafefibonaccilow" : 1,
            "disableprofitbankreversal" : 0,
            "disabletracker" : 1,
            "disabletelegram" : 1,
            "autorestart" : 0,
            "graphs" : 0,
            "verbose" : 0,
            "stats" : 0,
            "enableinsufficientfundslogging": 1,
            "enabletelegrambotcontrol": 1,
            "websocket": 0,
            "disablelog": 0,
            "buymaxsize": 0,
            "buyminsize": 0,
            "sellsmartswitch": 0,
            "trailingbuypcnt": 0.5,
            "telegramtradesonly": 0,
            "granularity": "1hour",
            "enableml": 0,
            "use_sell_fee": 1
        }
    },
    "coinbasepro": {
        "api_url": "https://api.pro.coinbase.com",
        "api_key_file": "coinbasepro.key",
        "config" : {
            "base_currency" : "BTC",
            "quote_currency" : "GBP",
            "live" : 0,
            "sellatloss" : 0,
            "sellatresistance" : 0,
            "trailingstoploss" : -1.5,
            "trailingstoplosstrigger" : 5,
            "nosellmaxpcnt" : 3,
            "nosellminpcnt" : -3,
            "disablebullonly" : 0,
            "disablebuynearhigh" : 1,
            "disablebuymacd" : 0,
            "disablebuyobv" : 1,
            "disablebuyelderray" : 0,
            "disablefailsafefibonaccilow" : 1,
            "disableprofitbankreversal" : 0,
            "disabletracker" : 1,
            "disabletelegram" : 1,
            "autorestart" : 0,
            "graphs" : 0,
            "verbose" : 0,
            "stats" : 0,
            "enableinsufficientfundslogging": 1,
            "enabletelegrambotcontrol": 1,
            "websocket": 0,
            "disablelog": 0,
            "buymaxsize": 0,
            "buyminsize": 0,
            "sellsmartswitch": 0,
            "trailingbuypcnt": 0.5,
            "telegramtradesonly": 0,
            "granularity": "3600",
            "enableml": 0
        }
    },
    "telegram": {
        "token": "",
        "user_id": "0000000000",
        "client_id": "",
        "datafolder": "",
        "logger_level": "DEBUG"
    },
	"scanner" : {
		"atr72_pcnt" : 1.0,
		"enableexitaftersell" : 1,
		"enableleverage" : 0,
        "use_default_scanner" : 1,
		"maxbotcount" : 6,
        "exchange_bot_count": 3,
        "autoscandelay" : 0,
        "enable_buy_next": 1,
        "autostart": 0,
        "terminal_start_process": ""
	}
}