{{ base_event.df_index }} | {{ base_event.market }} {{ base_event.bullbeear }} | {{ base_event.granularity }} | Close: {{ base_event.price }} | {{ base_event.ema_co_prefix }} {{ base_event.ema_text }} {{ base_event.ema_co_suffix }} {{ base_event.macd_co_prefix }} {{ base_event.macd_text }} {{ base_event.macd_co_suffix }} {{ base_event.obv_prefix }} {{ base_event.obv_text }} {{ base_event.obv_suffix }} {{ base_event.eri_text }} {{ base_event.action }} | Last Action: {{ base_event.last_action }} | Margin: {{ margin }} | Delta: {{ delta }} | DF HIGH: {{ df_high }} | DF LOW: {{ df_low }} | SWING: {{ swing }} | CURR Price is {{ curr_prie }}% away from DF HIGH | Range: {{ range_start }} <--> {{ range_end }}