<!DOCTYPE HTML>
<html>

<head>
    <title>PyCryptoBot Log</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var socket = io();

            socket.on('log_msg', function (msg, cb) {
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
                if (cb)
                    cb();

                window.scrollTo(0, document.body.scrollHeight);
            });
        });
    </script>
</head>

<body>
    <h1>PyCryptoBot Log</h1>
    <div id="log"></div>
</body>

</html>